/* Add a black background color to the top navigation */
*{
  margin: 0%;
}
.topnav {
    background-color:#f2f2f2;
    overflow: hidden;
    
  }

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color:  #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */

  body {
    /* background: #eee;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px; */
    font-family: 'Lato', sans-serif;
    
    
    
    }
  .topnav a:hover {
    background-color: #04AA6D;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


  .container {
    position: relative;
    text-align: center;
    
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    text-align: left;
  }
  
  .column_3 {
    float: left;
    width: 25%;
    padding: 3%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column_2 {
    float: left;
    width: 35%;
    padding: 5%;
  }

  /* .row.img:hover {
    opacity: 0.3;
    } */


  

  .button_div {
      text-align: center;
  }


  table {
      border-collapse: collapse;
     
      
  }

  table,
  th,
  td {
      border: 1px solid black;
      padding:20px;
  }