body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    padding: 30px
}
p,
h5 {
    color: #83a7a5;
    font-size: 14px;
}
h2 {

    color: coral
}
h1 {

    color: forestgreen
}




/*Header CSS Start*/
header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(192, 193, 193, 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(192, 193, 193, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(192, 193, 193, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#d1fdff", GradientType=1);
    height: 30vh;
}
nav {
    border-bottom-width: 1px;
    border-bottom-color: #ffffff33;
    border-bottom-style: solid;
    padding: 25px 0px !important;
}

.top_phn {

    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

.top_phn::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 18px;
    background: #ffffff33;
    top: 5px;
    left: 0;
}

.top_phn img {
    height: 13px;
    margin-right: 5px;
}

.top_phn a {
    color: white;
    font-size: 13px;
}

.active a {
    font-weight: 700;
}

.nav-item {
    margin-left: 15px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 14px;
}

.get_started {
    background: #ffffff59;
    border-radius: 3px;
    padding: 8px 20px !important;
    font-weight: 700;
    color: white !important;
}
.get_started1 {
    background: #ffffff59;
    border-radius: 3px;
    padding: 8px 20px !important;
    font-weight: 700;
    color: white !important;
}

/*Header CSS End*/


/*Banner CSS Start*/
.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 80vh;
    position: relative;
}


.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.banner_content h1 {
    font-size: 38px;
    color: white;
}

.banner_content p {
    color: white;
    margin: 20px 0px;
}





/*Banner CSS End*/


/*features CSS Start*/
.features {
    padding: 80px 20px;
    
}

.title {
    text-align: center;
}


.title h1 {
    color: #0f5f5c;
    position: relative;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 300;
}


.title h1::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    background: #6fb048;
    bottom: -20px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.title p {
    font-size: 15px;
}




/*Call to Action Area Start*/

}

.call_to_action .title {
    text-align: left;
}

.call_to_action .title h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0;
}

.call_to_action .title p {
    margin-bottom: 0;
}

.call_to_action .title h1::after {
    content: unset;
}

.call_to_action .custom_btn {
    text-transform: uppercase;
    width: auto;
    padding: 15px 20px;
}

/*Call to Action Area End*/
